# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\固态硬盘\java算法排列\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
